// Design System Research color
$dsresearchprimary: #377f8b;

// colors
$nyplgray: #7b756f;
$nypldarkgray: darken($nyplgray, 40%);
$nypllightgray: lighten($nyplgray, 40%);
$nyplyellow: #fee24a;
$nyplorange: #ffb81d;
$nyplred: #e32b31;
$nypldarkgreen: #4c842e;
$nypllightgreen: lighten($nypldarkgreen, 20%);
$nyplblue: #1da1d4;
$nyplbluedark: #1980a9;

// semantic colors
$nyplsearchcolor: $nyplgray;
$nyplsearchcolordark: darken($nyplsearchcolor, 10%);
$nyplsearchcolorlight: lighten($nyplsearchcolor, 30%);
$focuscolor: #2869b7;
$pagecolor: $nypldarkgray;
$pagecolorlight: $nypllightgray;
$pagetextcolor: $nypldarkgray;
$footercolor: #54514a;
$highlightcolor: $nyplbluedark;
$alertcolor: $nyplyellow;
$backgroundcolor: #fff;
$subjectHeadingHeaderBackground: #dfdbd7;
$subjectHeadingBackground: #edebe9;

// link colors
$linkcolor: $nyplred;
$linkvisitedcolor: darken($linkcolor, 20%);
$linkhovercolor: lighten($linkcolor, 10%);
$invertedlinkcolor: white;
$invertedlinkvisitedcolor: darken($invertedlinkcolor, 10%);
