// Design System Research color
$dsresearchprimary: #377f8b;

// semantic colors
$subjectHeadingBackground: #edebe9;

// Recurring colors throughout the app.
// Some are only used once, some are only used in one file,
// but they are all here for consistency.

// mostly for borders
$lightBorder: #d7d4d0;
// for color and box-shadow
$darkColorBoxShadow: #080807;
// for background color
$lightBackgroundColor: #f9f8f7;
// dark text color
$darkGrayTextColor: #776e64;
// account page colors
$accountBlue: #0576d3;
$accountBGLight: #f5f5f5;
$accountLightBorder: #c4c4c4;
// blue color text
$colorBlueText: #0071ce;
// advance search aside color
$advanceSearchColor: #a4241e;
// advance search background color
$advanceSearchBGColor: #f9f9f9;
// bib page colors
$bibTextColor: #54514a;
$bibLinkColor: #3ab0df;
$generalBlueColor: #1b7fa7;
$generalDarkerBlueColor: #104d65;
// feedback border
$feedbackBorder: #e0e0e0;
$generalHoverBlue: #176e91;
$generalRedColor: #d0343a;
$requiredRedColor: #aa272c;
$loadingLayerBG: #eee;
$notificationBG: #e6ecf0;
$timedlogoutModalHR: #89969f;
$previewComponentsTextColor: #31806a;

$border-color: darken($darkGrayTextColor, 40%);
$results-list-item-button: $generalBlueColor;
