// For all responsive designs, this is a mobile-first approach.
@mixin media($min-width) {
  @media (min-width: $min-width) {
    @content;
  }
}

@mixin removeDefaultButtonStyle {
  border: 0;
  background: none;
  padding: 0;
}

@mixin visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@mixin displayVisuallyHidden {
  position: relative;
  left: 0;
  height: auto;
  width: 100%;
}

// @mixin transition($params) {
//   -moz-transition:    $params;
//   -o-transition:      $params;
//   -webkit-transition: $params;
//   -ms-transition:     $params;
//   transition:         $params;
// }
@mixin transition-list($values...){
  -moz-transition:    $values;
  -o-transition:      $values;
  -webkit-transition: $values;
  -ms-transition:     $values;
  transition:         $values;
}
@mixin transition-transform($values...) {
  -webkit-transition: -webkit-transform $values;
     -moz-transition: -moz-transform $values;
       -o-transition: -o-transform $values;
          transition: transform $values;
}

@mixin clear-filters-button {
  border: 1px solid $brandPrimary;
  color: $brandPrimary;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 0.25rem;

  svg {
    fill: $brandPrimary;
  }

  &:hover {
    border: 1px solid $white;
    color: $white;
    background: $brandPrimary;

    svg {
      fill: $white;
    }
  }
}


// TODO: remove after a DS update.
// Mixin - Wrapper
// Outer container mixin for large screens
@mixin wrapper(
  $container-max-width: $max-width,
  $outer-container-break: $nypl-breakpoint-small,
  $v-margin: 0,
  $v-padding: 0,
  $h-padding: var(--nypl-space-s)
) {
  margin: #{$v-margin} auto;
  max-width: #{$container-max-width};
  padding: #{$v-padding} #{$h-padding};
  width: 100%;
}
