// buttons
$button-background-color: $nypl-search-color-dark;

// status
$status-available-color: darken($nypl-green-dark, 5%);
$status-default-color: darken($nypl-orange, 30%);
$status-unavailable-color: $nypl-gray;

// misc
$border-color: $page-text-color;
$focus-width: 3px;
$logo-width: 5rem;
$logo-height: 3rem;

// Layout
$container-width: 1200px;
$header-height: 60px;
$header-component-height: 40px;
$header-component-margin: ($header-height - $header-component-height)/2;
