@import "../toolkit/colors";

// red is too overwhelming to have for all links
$linkcolor: $pagetextcolor;
$linkvisitedcolor: $pagetextcolor;
$linkhovercolor: $nyplred;

// make buttons blue
$buttoncolor: darken($nyplbluedark, 2%);
$buttonhovercolor: lighten($buttoncolor, 5%);
$buttontextcolor: $invertedlinkcolor;

// status
$statusavailablecolor: darken($nypldarkgreen, 5%);
$statusdefaultcolor: darken($nyplorange, 30%);
$statusunavailablecolor: $nyplgray;

// misc
$pagecolorlight: lighten($nypllightgray, 7%);
$invertedbackgroundcolor: $nypldarkgray;
$bordercolor: $nypllightgray;
$focuswidth: 3px;
$logo-width: 5rem;
$logo-height: 3rem;

// Layout
$containerWidth: 1200px;
$headerHeight: 60px;
$headerComponentHeight: 40px;
$headerComponentMargin: ($headerHeight - $headerComponentHeight)/2;
