{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie >= 10"
          ]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "@": "./.babelrc",
          "@.": "./.eslintrc",
          "@undefined.": "./.nvmrc",
          "@undefinedundefined.": "./.old_env",
          "@undefinedundefinedundefined.": "./.travis.yml",
          "@CHANGELOG": "./CHANGELOG.md",
          "@DEPLOYMENT": "./DEPLOYMENT.md",
          "@EBSVARS": "./EBSVARS.md",
          "@Procfile": "./Procfile",
          "@README": "./README.md",
          "@caughtfields": "./caughtfields.js",
          "@discovery-items-2": "./discovery-items-2.js",
          "@easyImports": "./easyImports.js",
          "@esdoc": "./esdoc.json",
          "@fields": "./fields.js",
          "@generateObj": "./generateObj.js",
          "@html_sample": "./html_sample.html",
          "@index": "./index.js",
          "@locations": "./locations.js",
          "@longermissing": "./longermissing.txt",
          "@nightwatch": "./nightwatch.json",
          "@package-lock": "./package-lock.json",
          "@package": "./package.json",
          "@remainder-2": "./remainder-2.js",
          "@sampleApiResponseStructure": "./sampleApiResponseStructure.json",
          "@server": "./server.js",
          "@Actions": "./src/app/actions/Actions.js",
          "@alt": "./src/app/alt.js",
          "@AlphabeticalPagination": "./src/app/components/SubjectHeading/AlphabeticalPagination.jsx",
          "@Application": "./src/app/components/Application/Application.jsx",
          "@AdditionalDetailsViewer": "./src/app/components/BibPage/AdditionalDetailsViewer.jsx",
          "@BackLink": "./src/app/components/BibPage/BackLink.jsx",
          "@BibDetails": "./src/app/components/BibPage/BibDetails.jsx",
          "@BibPage": "./src/app/components/BibPage/BibPage.jsx",
          "@DefinitionList": "./src/app/components/BibPage/DefinitionList.jsx",
          "@MarcRecord": "./src/app/components/BibPage/MarcRecord.jsx",
          "@SubjectHeadings": "./src/app/components/BibPage/SubjectHeadings.jsx",
          "@Tabbed": "./src/app/components/BibPage/Tabbed.jsx",
          "@Breadcrumbs": "./src/app/components/Breadcrumbs/Breadcrumbs.jsx",
          "@SearchButton": "./src/app/components/Buttons/SearchButton.jsx",
          "@SearchIconReversed": "./src/app/components/Buttons/SearchIconReversed.jsx",
          "@ElectronicDelivery": "./src/app/components/ElectronicDelivery/ElectronicDelivery.jsx",
          "@ElectronicDeliveryForm": "./src/app/components/ElectronicDelivery/ElectronicDeliveryForm.jsx",
          "@Feedback": "./src/app/components/Feedback/Feedback.jsx",
          "@FilterPopup": "./src/app/components/FilterPopup/FilterPopup.jsx",
          "@FieldsetDate": "./src/app/components/Filters/FieldsetDate.jsx",
          "@FieldsetList": "./src/app/components/Filters/FieldsetList.jsx",
          "@SelectedFilters": "./src/app/components/Filters/SelectedFilters.jsx",
          "@HoldConfirmation": "./src/app/components/HoldConfirmation/HoldConfirmation.jsx",
          "@HoldRequest": "./src/app/components/HoldRequest/HoldRequest.jsx",
          "@Home": "./src/app/components/Home/Home.jsx",
          "@ItemHoldings": "./src/app/components/Item/ItemHoldings.jsx",
          "@ItemTable": "./src/app/components/Item/ItemTable.jsx",
          "@ItemTableRow": "./src/app/components/Item/ItemTableRow.jsx",
          "@LoadingLayer": "./src/app/components/LoadingLayer/LoadingLayer.jsx",
          "@NotFound404": "./src/app/components/NotFound404/NotFound404.jsx",
          "@Pagination": "./src/app/components/Pagination/Pagination.jsx",
          "@ResultsList": "./src/app/components/ResultsList/ResultsList.jsx",
          "@ResultsCount": "./src/app/components/ResultsCount/ResultsCount.jsx",
          "@SccContainer": "./src/app/components/SccContainer/SccContainer.jsx",
          "@Search": "./src/app/components/Search/Search.jsx",
          "@SearchResultsContainer": "./src/app/components/SearchResults/SearchResultsContainer.jsx",
          "@SearchResultsSorter": "./src/app/components/SearchResults/SearchResultsSorter.jsx",
          "@Sorter": "./src/app/components/Sorter/Sorter.jsx",
          "@AdditionalSubjectHeadingsButton": "./src/app/components/SubjectHeading/AdditionalSubjectHeadingsButton.jsx",
          "@BibsList": "./src/app/components/SubjectHeading/BibsList.jsx",
          "@PreviewComponents": "./src/app/components/SubjectHeading/PreviewComponents.jsx",
          "@AutosuggestItem": "./src/app/components/SubjectHeading/Search/AutosuggestItem.jsx",
          "@SubjectHeadingSearch": "./src/app/components/SubjectHeading/Search/SubjectHeadingSearch.jsx",
          "@SortButton": "./src/app/components/SubjectHeading/SortButton.jsx",
          "@SubjectHeading": "./src/app/components/SubjectHeading/SubjectHeading.jsx",
          "@SubjectHeadingShow": "./src/app/components/SubjectHeading/SubjectHeadingShow.jsx",
          "@SubjectHeadingsIndex": "./src/app/components/SubjectHeading/SubjectHeadingsIndex.jsx",
          "@SubjectHeadingsTable": "./src/app/components/SubjectHeading/SubjectHeadingsTable.jsx",
          "@SubjectHeadingsTableBody": "./src/app/components/SubjectHeading/SubjectHeadingsTableBody.jsx",
          "@SubjectHeadingsTableHeader": "./src/app/components/SubjectHeading/SubjectHeadingsTableHeader.jsx",
          "@easyTest": "./src/app/components/SubjectHeading/easyTest.js",
          "@appConfig": "./src/app/data/appConfig.js",
          "@locationCodes": "./src/app/data/locationCodes.js",
          "@Range": "./src/app/models/Range.js",
          "@SubjectHeadingShowPage": "./src/app/pages/SubjectHeadingShowPage.jsx",
          "@SubjectHeadingsIndexPage": "./src/app/pages/SubjectHeadingsIndexPage.jsx",
          "@routes": "./src/app/routes/routes.jsx",
          "@PatronStore": "./src/app/stores/PatronStore.js",
          "@Store": "./src/app/stores/Store.js",
          "@dataLoaderUtil": "./src/app/utils/dataLoaderUtil.js",
          "@formValidationUtils": "./src/app/utils/formValidationUtils.js",
          "@getOwner": "./src/app/utils/getOwner.js",
          "@item": "./src/app/utils/item.js",
          "@subjectFilterUtils": "./src/app/utils/subjectFilterUtils.js",
          "@utils": "./src/app/utils/utils.js",
          "@calculateDirection": "./src/app/utils/calculateDirection.js",
          "@App": "./src/client/App.jsx",
          "@floor_plan": "./src/client/images/floor_plan.png",
          "@componentsBibPage": "./src/client/styles/components/BibPage.scss",
          "@componentsFeedback": "./src/client/styles/components/Feedback.scss",
          "@componentsFilterPopup": "./src/client/styles/components/FilterPopup.scss",
          "@componentsHoldConfirmation": "./src/client/styles/components/HoldConfirmation.scss",
          "@componentsHome": "./src/client/styles/components/Home.scss",
          "@componentsItemTable": "./src/client/styles/components/ItemTable.scss",
          "@componentsLoadingLayer": "./src/client/styles/components/LoadingLayer.scss",
          "@componentsSearch": "./src/client/styles/components/Search.scss",
          "@componentsSelectedFilters": "./src/client/styles/components/SelectedFilters.scss",
          "@componentsSubjectHeadings": "./src/client/styles/components/SubjectHeadings.scss",
          "@_forms": "./src/client/styles/components/_forms.v2.scss",
          "@main": "./src/client/styles/main.scss",
          "@style-v2": "./src/client/styles/style-v2.scss",
          "@base": "./src/client/styles/utils/base.scss",
          "@colors": "./src/client/styles/utils/colors.scss",
          "@fonts": "./src/client/styles/utils/fonts.scss",
          "@mixins": "./src/client/styles/utils/mixins.scss",
          "@utilsutils": "./src/client/styles/utils/utils.scss",
          "@variables": "./src/client/styles/utils/variables.scss",
          "@ApiRoutes": "./src/server/ApiRoutes/ApiRoutes.js",
          "@Bib": "./src/server/ApiRoutes/Bib.js",
          "@Hold": "./src/server/ApiRoutes/Hold.js",
          "@ApiRoutesSearch": "./src/server/ApiRoutes/Search.js",
          "@ApiRoutesSubjectHeadings": "./src/server/ApiRoutes/SubjectHeadings.js",
          "@User": "./src/server/ApiRoutes/User.js",
          "@apiindex": "./src/server/routes/api/index.js",
          "@authindex": "./src/server/routes/auth/index.js",
          "@nyplApiClientindex": "./src/server/routes/nyplApiClient/index.js",
          "@kmsClientHelper": "./src/server/routes/nyplApiClient/kmsClientHelper.js",
          "@viewsindex": "./src/views/index.ejs",
          "@browser": "./test/helpers/browser.js",
          "@test": "./test/nightwatch/test.js",
          "@unitAdditionalDetailsViewer": "./test/unit/AdditionalDetailsViewer.test.js",
          "@Alt": "./test/unit/Alt.test.js",
          "@unitApplication": "./test/unit/Application.test.js",
          "@unitBibDetails": "./test/unit/BibDetails.test.js",
          "@unitBreadcrumbs": "./test/unit/Breadcrumbs.test.js",
          "@unitFieldsetDate": "./test/unit/FieldsetDate.test.js",
          "@unitFieldsetList": "./test/unit/FieldsetList.test.js",
          "@unitFilterPopup": "./test/unit/FilterPopup.test.js",
          "@unitHoldConfirmation": "./test/unit/HoldConfirmation.test.js",
          "@unitHoldRequest": "./test/unit/HoldRequest.test.js",
          "@unitHome": "./test/unit/Home.test.js",
          "@unitItemHoldings": "./test/unit/ItemHoldings.test.js",
          "@unitItemTable": "./test/unit/ItemTable.test.js",
          "@unitItemTableRow": "./test/unit/ItemTableRow.test.js",
          "@LibraryItem": "./test/unit/LibraryItem.test.js",
          "@unitNotFound404": "./test/unit/NotFound404.test.js",
          "@unitPagination": "./test/unit/Pagination.test.js",
          "@unitResultsCount": "./test/unit/ResultsCount.test.js",
          "@unitResultsList": "./test/unit/ResultsList.test.js",
          "@unitSearch": "./test/unit/Search.test.js",
          "@unitSearchButton": "./test/unit/SearchButton.test.js",
          "@unitSearchResultsPage": "./test/unit/SearchResultsPage.test.js",
          "@unitSelectedFilters": "./test/unit/SelectedFilters.test.js",
          "@unitSorter": "./test/unit/Sorter.test.js",
          "@unitTabbed": "./test/unit/Tabbed.test.js",
          "@unitUser": "./test/unit/User.test.js",
          "@subjectFilterUtil": "./test/unit/subjectFilterUtil.test.js",
          "@unitutils": "./test/unit/utils.test.js",
          "@webpack": "./webpack.config.js"
        }
      }
    ]
  ]
}
