{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 10"]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["module-resolver", {
     "root": ["./src"],
     "alias": {
       "@pagination": "./src/app/components/Pagination/Pagination.jsx"
     }
    }]
  ]
}
