dist
node_modules
npm-debug.log
.DS_STORE
ebscoConfig.js
coverage
.nyc_output
bin/*
selenium-debug.log
nightwatch_reports
package-lock.json
log/*.log

# Local env:
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
