dist
node_modules
npm-debug.log
.DS_STORE
ebscoConfig.js
coverage
.nyc_output
bin/*
selenium-debug.log
nightwatch_reports
package-lock.json
log/*.log

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

#Files with names of missing fields
fields.js
discovery-items-2.js
caughtfields.js
longermissing.txt
remainder-2.js
session.log
