{
  "arrowParens": "always",
  "overrides": [
    { "files": [".*rc", "*.json"], "options": { "parser": "json" } }
  ],
  "semi": true,
  "bracketSpacing": true,
  "printWidth": 80,
  "jsxBracketSameLine": false,
  "quoteProps": "preserve",
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "endOfLine": "lf",
  "trailingComma": "all"
}
