.nypl-fieldset {
  &.v2 {
    background-color: #fff;

    .nypl-year-field,
    .nypl-text-field {
      background: #fff;

      .nypl-field-status {
        padding-left: 0
      }

      &.nypl-field-error {
        input[type=number],
        input[type=text] {
          background-color: #f6d6d8;
          border-bottom: 0.125rem #97272c solid;
          box-shadow: none;
        }

        .nypl-field-status {
          background: #fff;
          color: #d0343a;
        }
      }

      label {
        position: relative;
        margin: 0;
      }

      input[type=number],
      input[type=text] {
        background-color: #fff;
        border-bottom: none;
        padding: 0;
      }
    }

    .nypl-year-field {
      width: 40%;
      display: inline-block;
      margin-right: 1rem;
    }
  }
}

.number-range {
  .nypl-year-field:nth-of-type(2) {
    margin-left: 1rem;
  }
}
