table.generic-table {
  border-top: 2px solid $bordercolor;
  margin-top: 1rem;
  th {
    white-space: nowrap;
    padding-right: 1rem;
    color: $linkcolor;
    text-decoration: underline;
    cursor: pointer;
    &:hover, &:visited:hover {
      color: $linkhovercolor;
    }
  }
}

.status {
  &.ready {
    color: $statusavailablecolor;
  }
  &.requested {
    color: $statusdefaultcolor;
  }
  &.cancelled,
  &.completed {
    color: $statusunavailablecolor;
  }
}
