.nypl-patron-page {
  ul {
    list-style: none;
  }

  th {
    text-transform: capitalize;
  }

  td > span {
    display: block;
  }

  .holds {
    th, td {
      width: 16%;
    }
  }

  .items {
    th, td {
      width: 20%;
    }
  }

  select {
    width: 215px;
  }

  td.patFuncTitle {
    width: 29%;
  }

  .loading#account-page-content {
    display: none;
  }

  th.patFuncTitle {
    font-weight: 600;
  }

  .patFuncHeaders {
    text-align: left;
    font-weight: 600;
  }

  button {
    display: inline-block;
    font-size: 14px;
    margin: 0 var(--space-xxs);
  }

  tr.patFuncHeaders {
    background-color: #F5F5F5;
    width: 100%;
  }
}
