table.generic-table {
  border-top: 2px solid $border-color;
  margin-top: 1rem;
  th {
    white-space: nowrap;
    padding-right: 1rem;
    color: $link-color;
    text-decoration: underline;
    cursor: pointer;
    &:hover, &:visited:hover {
      color: $link-hover-color;
    }
  }
}

.status {
  &.ready {
    color: $status-available-color;
  }
  &.requested {
    color: $status-default-color;
  }
  &.cancelled,
  &.completed {
    color: $status-unavailable-color;
  }
}
