#advancedSearchForm {
  display: flex;
  flex-direction: column;

  input {
    display: block;
  }

  li {
    list-style: none;
  }

  hr {
    width: 90%;
    color: #C4C4C4;
  }

  #fields {
    width: 100%;
    display: flex;
  }

  #advancedSearchButtons {
    display: flex;
    justify-content: flex-end;
    width: 91%;

    button {
      margin: 5px;
      width: 139px;
    }
  }

}

.advancedSearchColumnLeft {
  flex: 1;
  margin-left: 10%;
  ul {
    width: 80%;
  }
}

.advancedSearchColumnRight {
  flex: 1;

  ul {
    width: 80%;
  }

  #dateList {
    display: flex;
    justify-content: space-between;

    li {
      width: 40%;
    }
  }
}
