@import 'toolkit';

.view-all-items-container {
  margin-top: 1.5rem;
}

.search-control {
  svg {
    height: 2rem;
    width: 2rem;
    top: 11px;
    margin-right: -10px;
  }
}

div .tabbed {
  ul[role="tablist"] {
    margin: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    display: block;
    list-style-type: none;
  }

  ul[role="tablist"] >  li {
    border-bottom: 1px solid black;
    display: table-cell;
    margin-bottom: 0;
    white-space: nowrap;
  }

  ul[role="tablist"] > li.activeTab {
    border: 1px solid black;
    border-bottom: none;
  }

  ul[role="tablist"] > li > a,
  ul[role="tablist"] > li > span > a {
    color: $nypl-gray-brown;
    padding: 5px 8px;
    display: table-cell;
    font-weight: 300;
    text-decoration: none;
  }

  ul[role="tablist"] > li:target > a {
    color: black;
  }

  ul[role="tablist"] > li > a[aria-selected='true'] {
    color: black;
    font-weight: 500;
  }

  .blank {
    border-bottom: 1px solid black;
    color: white;
    content: '';
    width: 100%;
  }

  ul[role="tablist"] {
    li:target ~ .default {
      display: none;
    }

    li:target {
      border: 1px solid black;
      border-bottom: 0;
    }
  }
}

.default {
  display: block;
  padding-top: 15px;
}

.non-default {
  display: none;
}

@for $i from 1 through 4 {
  #tab#{$i}:target ~ #section#{$i} {
    display: block;
    padding: 15px 0;
  }
}

// Start styles for subject highlighting on hover

.tabbed ul section dd {
  width: fit-content;
}

.tabbed li {
  width: fit-content;
}

.tabbed a {
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

@media (max-width: 1120px) {
  .additionalDetails {
    dt {
      float: none;
    }
  }
}

@media (max-width: 600px) {
  div .tabbed {
    ul[role="tablist"] >  li, ul[role="tablist"] > li.activeTab {
      border: 1px solid black;
      border-bottom: none;
      display: block;
      width: 100%;
    }

    ul[role="tablist"] > li > a {
      display: block;

      &[aria-selected='true'] {
        font-weight: 600;
      }
    }
  }
}
