.view-all-items-container {
  margin-top: 1.5rem;
}

.search-control {
  svg {
    height: 2rem;
    width: 2rem;
    top: 11px;
    margin-right: -10px;
  }
}

*:focus {
  outline: none;
  box-shadow: inset 0 0 0 4px lightBlue;
}
