.view-all-items-container {
  margin-top: 1.5rem;
}

.search-control {
  svg {
    height: 2rem;
    width: 2rem;
    top: 11px;
    margin-right: -10px;
  }
}

div .tabbed {
*:focus {
  outline: none;
  box-shadow: inset 0 0 0 4px lightBlue;
}

ul[role="tablist"]{
    margin: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    display: flex;
    list-style-type: none; }

ul[role="tablist"] >  li {

          border-bottom: 1px solid black;
          display: table-cell;
          margin-bottom: 0;
        }
  ul[role="tablist"] > li > h4 > a {
    color: gray;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: table-cell;
    font-weight: 500;
    text-decoration: none;
  }

  ul[role="tablist"]::after {
    border-bottom: 1px solid black;
    color: white;
    padding: 10px;
    content: "";
    width: 50%;
  }

  #ind0.targeted ~ ul[role="tablist"] > li#li0 {
    h4 > a {
       color: black;
     }
    border: 1px solid black;
    border-bottom: none;
  }

  @for $i from 1 through 1 {
    #ind#{$i}.targeted ~ ul[role="tablist"] > li#li0 {
      border: none;
      border-bottom: 1px solid black;
    }
    #ind#{$i}.targeted ~ ul[role="tablist"] > li#li#{$i} {
      h4 > a {
        color: black;
      }
      border: 1px solid black;
      border-bottom: none;
    }
  }

  #ind0:target ~ ul[role="tablist"] > li#li0 {
    h4 > a {
      color: black;
    }
    border: 1px solid black;
    border-bottom: none;
  }

@for $i from 1 through 1 {
  #ind#{$i}:target ~ ul[role="tablist"] > li#li0 {
    border: none;
    border-bottom: 1px solid black;
  }




  #ind#{$i}:target ~ ul[role="tablist"] > li#li#{$i} {
    h4 > a {
      color: black;
    }
    border: 1px solid black;
    border-bottom: none;
  }
}

section {
  display: none;
}
.default {
  display: block;
}
.untargeted:target ~ #section0 {
  display: none;
}

@for $i from 0 through 1 {
  #ind#{$i}:target ~ #section#{$i} {
    display: block;
  }
  #ind#{$i}:target ~ #section#{$i} {
    display: block;
  }
}

.activeTab {
  display: block;
}

.inactiveTab {
  display: none;
}

#additionalDetails {
  dt {
    float: none;
  }
}

}
