.breadcrumbs {
  a,
  a:hover {
    color: $page-color;
  }

  .breadcrumb {
    display: inline-block;

    &:after {
      content: "»";
      display: inline-block;
      margin: 0 0.5rem;
      color: $page-text-color;
    }

    &:last-child:after {
      content: none;
    }
  }

  span span {
    margin: 0 5px;
  }

  .currentPage {
    margin: 0;
  }
}
