.nypl-omnisearch .nypl-omni-fields select {
  color: #000;
  background: #fff;
}

a {
  &:link {
    color: #145e7b;
  }
}

.nypl-basic-table {
  td span {
    color: #000;
    background: #fff;
  }
}
