.feedback {
  position: static;
  bottom: 0;
  right: 0;
  z-index: 100;
  text-align: right;
  background: #FFF;
  color: #000;

  @include min-screen($tablet-portrait) {
    position: fixed;
    background: inherit;
    max-width: 571px;
    min-width: 571px;
  }
  button.feedback-button {
    background: $dsresearchprimary;
    border: 1px solid $dsresearchprimary;
    box-sizing: border-box;
    color: #FFF;
    display: inline-block;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: relative;
    text-align: center;
  
    &:hover {
      background: #FFF;
      color: $dsresearchprimary;
    }
  }
}


.cancel-button {
  border: 1px solid #E0E0E0;
  font-size: 1rem;
  margin-right: 15px;
  text-align: center;
}


#feedback-menu {
  display: none;
  background: #FFF;
  border: 1px solid $border-color;
  box-shadow: -1px 0 1px 0 rgba(0,0,0,0.3);
  padding: 50px 42px;
  text-align: left;
  height: 472px;

  h1 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0 0 14px 0;
  }

  &.active {
    display: block;
  }

  form {
    margin: 0;
    padding: 0;
  }

  label {
    display: block;
    font-size: .875rem;
    margin-bottom: 6px;

    small {
      line-height: 1;
    }

    span {
      font-size: .75rem;
      font-weight: 300;
    }
  }

  p {
    margin: 107px 40px;
    font-size: 20px;
    font-weight: 500;
  }

  input,
  select,
  textarea {
    display: block;
    width: 100%;
    background-color: $page-background-color;
    font-size: 1rem;
    line-height: 1.2;
    box-sizing: border-box;
    border: 1px solid var(--nypl-colors-ui-gray-medium);
  }

  textarea {
    height: 8em;
  }

  input {
    padding: 0.3rem 0.4rem;
  }

  button {
    font-size: 1rem;
    display: inline;
    width: 164px;
  }

  iframe {
    display: none;
  }

  .helper-text {
    height: 21px;
  }
}

.privacy-policy {
  display: flow-root;
  a {
    color: var(--nypl-colors-ui-link-primary);
    float: right;
    font-size: .75rem;
  }
}

.nypl-required-field {
  float: right;
}

@media (max-width: 768px) {
  #feedback-menu {
    height: 400px;
    padding: 34px;

    h1 {
      font-size: 1rem;
      margin-bottom: 7px;
    }

    label {
      margin-bottom: 4px;
    }

    textarea {
      height: 6em;
    }

    button {
      margin-top: 13px;
      width: 98px;
      height: 25px;
      font-size: .875rem;
      padding: 0;
    }
  }
}
