.filter-container {
  .popup-btn-open {
    float: right;
    border: 1px solid #776e64;
    display: block;
    text-decoration: none;

    svg {
      fill: #fff;
      margin: 0 0 2px 0px;
    }

    &:hover {
      svg {
        fill: #1b7fa7;
      }
    }
  }

  a.popup-btn-open {
    padding-top: 3px;
  }

  svg {
    vertical-align: middle;
  }

  .filter-text {
    float: left;
    width: 100%;
    border-bottom: 0.125rem solid #d7d4d0;
  }
  .filter-action-buttons {
    float: left;
    width: 100%;

    p {
      margin: 20px 0;
      float: left;
      display: inline-block;
    }
  }

  .cancel-apply-buttons {
    float: right;
    display: inline-block;
  }

  .popup-btn-open,
  .apply-button {
    background: #fff;
    border-color: #1b7fa7;
    color: #1b7fa7;

    svg {
      fill: #1b7fa7;
      background: #fff;
      margin: 0 0 3px 3px;
    }

    &:hover {
      background-color: #1b7fa7;
      border: 0.04167rem solid #1b7fa7;
      color: #fff;

      svg {
        fill: #fff;
        background-color: #1b7fa7;
      }
    }
  }

  .cancel-button {
    border: none;
    background: #efedeb;
    color: #000;
    margin: 20px;

    &:hover {
      background: #efedeb;
      color: #000;
      border: none;
      text-decoration: underline;
    }
  }

  .nypl-name-field input[type=text] {
    transition: none;
  }
}

.popup-container {
  .cancel-no-js {
    width: 100%;
    height: 100%;
    cursor: default;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    position: fixed;
  }

  .popup,
  .popup-no-js {
    background: #efedeb;
    width: auto;
    z-index: 10000;

    @include min-screen($tablet-portrait) {
      width: 42rem;
    }

    @include min-screen(966px) {
      width: 52rem;
    }
  }

  .popup {
    // display: none;
    width: 100%;

    &.active {
      // display: block;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  .popup-btn-close {
    display: none;
    float: right;
    text-decoration: none;

    &.active {
      display: block;
    }
  }

  // need to override the background color
  .nypl-fieldset {
    background-color: #efedeb;
  }

  .nypl-generic-checkbox {
    label::before {
      background: #fff;
    }
  }
}

.filter-container {
  svg {
    @include transition-list(all 0.1s ease-in 0s);
  }
  .clear-filters-button {
    svg {
      height: 25px;
      width: 25px;
      padding: 0;
      margin: 0px 0 2px 5px;
    }
    &:hover {
      svg {
        fill: #fff;
        background: #d0343a;
      }
    }
  }
  button {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 1rem 0 0;
  }
  ul {
    li {
      list-style: none;
    }
  }
}

.nypl-popup-container.active {
  .nypl-popup-filter-overlay {
    z-index: 1000 !important;
  }
}

.nypl-inner-fieldset-date {
  .nypl-field-status {
    display: inline-block;
  }
}

.nypl-generic-checkbox > li {
  margin-left: 0;
}

.nypl-generic-checkbox input[type="checkbox"] {
  margin: 0 -7px;
}

.nypl-generic-columns {
  -webkit-columns: 118px 2;
  -moz-columns: 118px 2;
  columns: 118px 2;
}

.nypl-name-field input[type=text] {
  -webkit-appearance: none;
}

.nypl-name-field {
  background: #efedeb;

  .nypl-field-status {
    background: #efedeb;
  }
}

.date-hyphen {
  background: #efedeb;
  width: 25px;
  margin: 0px 15px;
  height: 10px;
}

.filter-error-box {
  margin: 0 3.125rem;
  @media (max-width: 483px) {
    margin: 0 1rem;
  }
}


.nypl-modal-filter-form {
  @include transition-list(max-height .3s ease-in-out);
  height: auto;

  // Accordion rules
  &.collapse {
    max-height: 0;
    visibility: hidden;
  }

  &.expand {
    max-height: 100em;
    visibility: visible;
  }

  fieldset:last-of-type {
    border-bottom: none;
  }

  .nypl-filter-button-container {
    button:first-of-type {
      float: left;
    }
  }

  .inner {
    padding: 0;

    legend {
      padding-top: 15px;
    }

    ul {
      margin-top: 10px;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
