.edd-copyright-notice {
  border: 1px solid #d7d4d0;
  border-radius: 4px;
  margin-top: 16px;
  padding: 15px;

  h3 {
    margin-top: 2px;
  }
}

.nypl-text-area-with-label > p > span {
  display: inline;
  word-wrap: normal;

  a {
    display: inline;
  }
}
