.home {
  h3 {
    margin: 0;
  }

  h2 {
    margin-top: var(--nypl-space-m);
    max-width: 100%;
  }

  .link {
    display: inline;
  }
}


.nypl-quarter-image {
  width: 100%;
}

.nypl-row,
.nypl-column-full {
  &::after, &::before {
    content: "";
    display: table;
  }
  &::after {
    clear: both;
  }
}
.nypl-column-one-quarter {
  float: left;
  margin-bottom: 1.5rem;
  min-height: 1rem;
  width: 25%;
}
.nypl-column-three-quarters {
  float: left;
  margin-bottom: 1.5rem;
  min-height: 1rem;
  padding: 0 0.5rem;
  width: 75%;
}