dl dd.multi-item-list .nypl-basic-table a,
.nypl-results-item .nypl-basic-table a {
  background-color: $results-list-item-button;
  border: 0.08333rem solid $results-list-item-button;
  border-radius: 0.13333rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.06rem;
  text-decoration: none;
  padding: 8px 28px;
  white-space: nowrap;
  -webkit-transition: all, 0.1s, ease-in;
  -moz-transition: all, 0.1s, ease-in;
  -ms-transition: all, 0.1s, ease-in;
  -o-transition: all, 0.1s, ease-in;
  transition: all, 0.1s, ease-in;
  margin-top: 0;

  &:hover {
    background-color: #fff;
    color: $results-list-item-button;
  }

  &:focus {
    background-color: #fff;
    color: $results-list-item-button;
  }
}
