.item-filter {
  display: inline-block;
  width: 30%;
  max-width: 200px;
  margin-right: 3%;

  &:last-of-type {
    margin-right: 0;
  }

  .item-filter-button {
    border: 1px solid var(--ui-gray-medium);
    &.open {
      border-bottom: 0;
    }
  }

  fieldset {
    border: 0;
    list-style: none;
    margin-bottom: 0;

    .closed {
      display: none;
    }
  }

  li {
    margin-bottom: 0;
  }

  label {
    margin-bottom: 0;
  }
}

.item-filter-content {
  background-color: #ffffff;
  border: 1px solid var(--ui-gray-medium);
  padding: var(--space-xs) var(--space-s);
  position: absolute;
  width: 230px;
  z-index: 1;
}

.item-filter-button {
  justify-content: space-between;
  text-transform: capitalize;
  width: 90%;
}

.item-table-filters {
  margin: 15px 0;
}

div.item-table-filters {
  background-color: #efedeb;
  padding: 10px;
}

button.item-table-filters {
  padding: 5px 25px;
}

.item-filter-buttons {
  float: right;

  .button {
    display: initial;

    .button-icon {
      float: right;
    }
  }
}

.item-filter-info {
  h3 {
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
    padding-right: 10px;
  }

  button {
    color: #d0343a;
    display: inline-block;
    padding-left: 0;
    padding-top: 0;

    &:hover {
      color: #0071ce;
    }
  }
}

.modal.scc-item-filters {
  background-color: white;
  box-sizing: border-box;

  h1 {
    padding-left: 10px;
  }

  .item-table-filters {
    background-color: white;
  }
}

.go-back-button {
  display: inline-block;
  padding: 0;
}

.show-results-button {
  float: right;
  padding-right: 10px;
  margin-right: 10px;
}

.nypl-results-item .nypl-basic-table#bib-item-table {
  thead > tr {
    border-bottom: 1px solid var(--ui-gray-light);

    th {
      padding-top: 0;
      width: auto;
    }
  }

  tbody tr, tbody tr:last-child {
    border-bottom: 1px solid var(--ui-gray-light);
  }
}

.nypl-results-item {
  border-bottom: 0;
}

// this is the minimum width at which the `Status` options will not go beyond the screenwidth
@media (max-width: 600px) {
  .item-filter {
    display: block;
    margin: 10px 0;
    max-width: none;
    width: 100%;
  }

  .item-filter-button {
    width: 100%;
  }

  .item-filter-content {
    position: unset;
    width: 100%;
    float: left;
    margin-bottom: 10px;
  }

  .item-filter-button {
    border-bottom: none;
  }
}
