dl dd.multi-item-list .nypl-basic-table a,
.nypl-results-item .nypl-basic-table a {
  background-color: #fff;
  border: 0.08333rem solid #d0343a;
  border-radius: 0.13333rem;
  color: #d0343a;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: normal;
  letter-spacing: 0.06rem;
  padding: 0.7rem 1.8rem;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-transition: all, 0.1s, ease-in;
  -moz-transition: all, 0.1s, ease-in;
  -ms-transition: all, 0.1s, ease-in;
  -o-transition: all, 0.1s, ease-in;
  transition: all, 0.1s, ease-in;
  margin-top: 0;

  &:hover {
    border-color: #fff;
    background-color: #d0343a;
    color: #fff;
  }
}
