.search-results-bib-card {
  .card-body {
    width: 100%;
  }
}

.avail-request-button,
.unavail-request-button {
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  color: #fff;
  border: 0.08333rem solid var(--nypl-colors-ui-link-primary);
  line-height: 1.5;
  border-radius: var(--nypl-radii-sm);
  font-weight: var(--nypl-fontWeights-button-default);
  align-items: center;
  display: flex;
  height: var(--nypl-sizes-10);
  justify-content: center;
  max-height: 2.5rem;
  min-height: 44px;
  word-wrap: normal;
  min-width: var(--nypl-sizes-10);
  font-size: var(--nypl-fontSizes-button-default);
  margin-right: var(--nypl-space-xs);

  @media screen and (min-width: 38em) {
    min-height: auto;
  }
}

.avail-request-button {
  background-color: white;
  color: var(--nypl-colors-ui-link-primary);
  &:hover {
    background-color: var(--nypl-colors-ui-bg-hover);
    border: 0.08333rem solid var(--nypl-colors-ui-link-secondary);
    color: var(--nypl-colors-ui-link-secondary);
  }
}
.unavail-request-button {
  cursor: default;
  background-color: var(--nypl-colors-ui-gray-x-light-cool);
  color: var(--nypl-colors-ui-gray-dark);
  border: 0.08333rem solid var(--nypl-colors-ui-gray-light-cool);
}

.info-link {
  font-size: var(--nypl-fontSizes-text-tag);
  font-weight: var(--nypl-fontWeights-text-tag);
  // this is inheriting text-decoration: none from style-v2.scss line 100
  text-decoration: underline;
}

.availability-alert {
  margin-top: var(--nypl-space-s);
  & a {
    text-decoration: underline;
  }
}
.available-text {
  color: var(--nypl-colors-ui-success-primary);
}
.unavailable-text {
  color: var(--nypl-colors-ui-warning-primary);
}

.nypl-results-item .nypl-basic-table .item-email-inquiry {
  font-size: 12px;
  padding-top: 5px;

  & > a {
    background-color: unset;
    border: unset;
    font-size: 12px;
    padding: 0;
    text-decoration: underline;
    letter-spacing: unset;

    &:link {
      // color: $link-color;
      color: #1b7fa7;
    }

    &:visited {
      // color: $link-visited-color;
      color: darken(#1b7fa7, 15%);
    }

    &:hover,
    &:visited:hover {
      // color: $link-hover-color;
      color: darken(#1b7fa7, 5%);
      text-decoration: none;
    }

    &.inverted {
      &:link {
        // color: $inverted-link-color;
        color: white;
      }

      &:visited {
        // color: $inverted-link-visited-color;
        color: darken(white, 10%);
      }

      &:hover,
      &:visited:hover {
        // color: $inverted-link-color;
        color: white;
      }
    }
  }
}

.results-items-element + .results-items-element {
  margin-top: var(--nypl-space-s);
}

.items-definition-list {
  .item-dl-wrapper + .item-dl-wrapper {
    margin-top: var(--nypl-space-s);
  }

  dt {
    font-weight: var(--nypl-fontWeights-bold);
  }

  dd {
    margin-bottom: var(--nypl-space-s);
  }
}

@media (max-width: 600px) {
  .tabbed {
    thead {
      display: none;
    }

    tr,
    .nypl-results-item .nypl-basic-table tbody tr:last-child {
      border: 1px solid var(--nypl-colors-ui-gray-light-cool);
    }

    .nypl-basic-table,
    .nypl-results-item .nypl-basic-table {
      display: revert;

      td {
        display: block;
        width: auto;
      }

      td:last-of-type {
        padding-bottom: 15px;
      }

      td.vol-date-col {
        background-color: var(--nypl-colors-ui-gray-light-cool);
      }

      span {
        display: inline-block;
        max-width: 67%;
        min-width: 50%;
        padding-left: 5px;
      }
    }
    .nypl-results-list .nypl-results-item.has-request {
      border-bottom: none;
      margin-bottom: 0;
    }

    td[data-th]:before {
      content: attr(data-th);
      display: inline-block;
      font-weight: 500;
      max-width: 30%;
      min-width: 27%;
      vertical-align: top;
    }
  }
}

.request-buttons-container {
  display: flex;
  &.bib-details.mobile {
    flex-direction: column;
      a{
        margin-bottom: var(--nypl-space-xs)
      }
    }
}
