.item-filter {
  display: inline-block;
  min-width: 125px;
  margin-right: var(--nypl-space-xs);

  &:last-of-type {
    margin-right: 0;
  }

  .item-filter-button {
    color: black;
    border: 1px solid $grayMedium;
    justify-content: space-between;
    text-transform: capitalize;
    width: 100%;
    
    &.open {
      border-bottom: 0;
    }
  }

  @include media($nypl-breakpoint-medium) {
    .item-filter-button {
      width: 100%;
    }
  }

  fieldset {
    border: 0;
    list-style: none;
    margin-bottom: 0;

    .closed {
      display: none;
    }
  }

  li {
    margin-bottom: 0;
  }

  label {
    margin-bottom: 0;
  }
}

.item-filter-content {
  background-color: $white;
  border: 1px solid;
  border-color: $grayMedium;
  position: absolute;
  width: 230px;
  z-index: 1;
  padding: 10px;
}

.item-filter-buttons {
  float: right;
  margin-bottom: var(--nypl-space-xs);
  margin-right: var(--nypl-space-xs);

  button {
    display: inline-block;
    border: none;

    &:not(last-of-type) {
      margin-right: var(--nypl-space-xs);
    }

    .button-icon {
      float: right;
    }
  }
}


// this is the minimum width at which the `Status` options will not go beyond the screenwidth
@include media($nypl-breakpoint-medium) {
  .item-filter {
    display: block;
    margin: 10px 0;
    max-width: none;
    width: 100%;
  }

  .item-filter-button {
    border-bottom: none;
    width: 100%;
  }

  .item-filter-content {
    position: unset;
    width: 100%;
    float: left;
    margin-bottom: 10px;
  }
}