.item-filter {
  display: inline-block;
  width: 250px;

  ul {
    list-style: none;
    margin-bottom: 0;

    .closed {
      display: none;
    }
  }

  li {
    margin-bottom: 0;
  }

  label {
    margin-bottom: 0;
  }
}

.item-filter-content {
  background-color: white;
  border: 1px solid var(--ui-gray-medium);
  box-sizing: border-box;
  padding: var(--space-xs) var(--space-s);
  position: absolute;
  width: 280px;
  z-index: 1;
}

.item-filter-button {
  justify-content: space-between;
  text-transform: capitalize;
  width: 200px;
}

.item-table-filters {
  background-color: #efedeb;
  padding: 10px;
}

.item-filter-buttons {
  float: right;

  .button {
    display: initial;

    .button-icon {
      float: right;
    }
  }
}

.item-filter-info {
  h3 {
    display: inline-block;
    padding-right: 10px;
    margin-bottom: 20px;
  }

  button {
    color: rgb(195, 76, 61);
    display: inline-block;
  }
}
