.scc-filter-accordion-wrapper {
  width: 200px;
}

.scc-filter-accordion {
  ul {
    list-style: none;
  }

  .accordion__content {
    background: white;
    border: 1px solid var(--ui-gray-medium);
    box-sizing: border-box;
    padding: var(--space-xs) var(--space-s);
    position: absolute;
    width: 200px;
    z-index: 1;
  }
}

.item-table-filters {
  background-color: #efedeb;
  margin-bottom: 20px;
  padding: 10px;
}
