.research-alert {
  background-color: $grayXLightCool;
  font-size: var(--nypl-fontSizes-1);
  margin: var(--nypl-space-m) 0;
  padding: var(--nypl-space-m) 4vw;

  a {
    color: $linkPrimary;
    display: inline;

    &:hover {
      color: $linkSecondary;
    }
  }
}
