.results-nav {
  @include results-sorting-controls();
  padding-bottom: 0.2rem;

  .pagination {
    float: left;
    height: 2rem;
    line-height: 2rem;
  }

  .sort {
    float: right;

    fieldset {
      // @include select-fieldset;
      white-space: nowrap;
      background-color: $page-background-color;
      margin: 0;

      label,
      select {
        display: inline-block;
        background-color: $page-background-color;
      }
      select {
        width: auto;
      }
    }
  }
}

.pagination {
  *:first-child {
    padding-left: 0;
  }
}
.pagination-total,
.paginate {
  padding: 0 0.35rem;
}
.pagination-total {
  font-weight: bold;
}
.paginate {
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: bold;

  &.previous,
  &.next {
    background: $page-background-color;
    color: $page-text-color;
    border: none;
    text-decoration: underline;
  }

  &.previous:before {
    content: '‹';
    display: inline-block;
    margin-right: 0.2rem;
    font-size: 1rem;
    line-height: 1rem;
  }

  &.next:after {
    content: '›';
    display: inline-block;
    margin-left: 0.2rem;
    font-size: 1rem;
    line-height: 1rem;
  }
}


.results-list {
  margin-top: 0.35rem;
  margin-bottom: 4rem;
  list-style: none;
  padding: 0;
}
.result-item {
  @include results-item;
  h4 {
    margin-bottom: 0.3rem;
  }
  p {
    margin: 0;
  }
}
.result-item-formats {
  @include results-item-formats;
  margin-top: 0.5rem;

  th:first-child,
  td:first-child,
  th:last-child,
  td:last-child {
    width: auto;
  }

  th:last-child,
  td:last-child {
    white-space: nowrap;
  }

  .more {
    display: none;
  }
}
.result-item-formats-table {
  @include basic-table;

  tr.see-more-row,
  tr.see-more-row td {
    border: none;
  }
}

.results-summary {
  @include results-summary();
  p {
    margin: 0;
    padding: 0;
    line-height: 1;
  }
  .remove-facet,
  .remove-keyword {
    &:before {
      content: 'x';
    }
  }
}

dt {
  font-weight: normal;
}

.nypl-results-sorter fieldset {
  border-width: 0;
}
