.catalog__header {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);

  a:hover {
    color: var(--nypl-colors-ui-gray-light-cool);
  }
}

.catalog__heading {
  background-color: var(--nypl-colors-section-research-primary);
  padding-bottom: var(--nypl-space-xs);
  padding-top: var(--nypl-space-l);

  h1 {
    @include wrapper;
    color: var(--nypl-colors-ui-white);
    max-width: 1280px;
  }
}
