.catalog__header {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);

  a:hover {
    color: $grayLightCool;
  }
}

.catalog__heading {
  background-color: $researchPrimary;
  padding-bottom: var(--nypl-space-xs);
  padding-top: var(--nypl-space-l);

  h1 {
    @include wrapper;
    color: $white;
    max-width: 1280px;
  }
}
