.search {
  &-container {
    // margin: 50px;
    max-width: $containerWidth;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    @include box-sizing();

    @include Kievit-Book;

    h3 {
      @include Milo-Regular;
    }

    .advanceSearch {
      @include Kievit-Medium;
      text-align: right;
      text-transform: uppercase;
      margin: 10px 0 20px 0;
      font-size: 12px;

      a {
        color: #837e77;
        background-color: #000;
      }

      @include min-screen($tablet-portrait) {
        margin: 15px 0 30px;
      }
    }
  }

  &-form {
    fieldset {
      border: 0;
      padding: 0;
      margin: 0;
    }

    select {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIwLjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA0LjkgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQuOSAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiM0NDQ0NDQ7fQo8L3N0eWxlPgo8dGl0bGU+YXJyb3dzPC90aXRsZT4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIxLjQsNC43IDIuNSwzLjIgMy41LDQuNyAiLz4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIzLjUsNS4zIDIuNSw2LjggMS40LDUuMyAiLz4KPC9zdmc+Cg==) no-repeat 98% 50% $nyplsearchcolorlight;
      border: 0;
      border-radius: 0;
      font-size: 16px;
      height: 2rem;
      padding-right: 7%;
      text-indent: 0.5rem;
      height: 54px;
    }
  }

  &-select {
    width: 29%;
    float: left;
    border: 2px solid #837e77;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 54px;
    font-size: 1rem;

    @include min-screen($tablet-portrait) {
      width: 20%;
    }
  }

  &-field {
    width: 69%;
    float: left;
    border: none;
    padding: 0;
    height: 100%;
    font-size: 16px;
    font-size: 1em;
    font-style: italic;
    text-indent: 10px;
    border: 2px solid #837e77;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 50px;
    @include Kievit-Medium;

    @include min-screen($tablet-portrait) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      width: 60%;
      text-indent: 20px;
    }
  }

  &-button {
    @include Kievit-Medium;
    width: 100%;
    text-transform: uppercase;
    margin-top: 10px;
    background-color: #1da1d4;
    border: none;
    height: 54px;
    border-radius: 4px;
    color: white;
    font-size: 1rem;

    @include min-screen($tablet-portrait) {
      width: 24%;
      margin-top: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      height: 57px;
    }
  }
}

.results {
  list-style: none;
  padding: 0;
  margin: 0;

  &-container {
    float: left;
    width: 80%;
  }
}

.related-items {
  border-left: 4px solid $lightergray;
  padding-left: 1rem;
  margin: 1rem 2rem 0 0.5rem;

  h4 {
    margin-top: 0;
    color: $gray;
    background-color: #fff;
  }

  & > ul {
    padding-left: 0;
  }

  .sub-items {
    margin: 1rem 0;
  }

  .result-item {
    padding: 0;
    border: none;
    margin: 5px 0;
  }

  .related-item:last-child .sub-items {
    margin-bottom: 0;
  }
}
