#selected-filters-container {
  padding: 0;
  float: left;
  width: 100%;
  margin: 10px 0;

  li {
    list-style: none;
    margin: 10px 15px 0 0;
    display: inline-block;

    &.dateAfter {
      button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &.dateBefore {
      margin-right: -15px;

      button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  .nypl-unset-filter {
    background: #fff;
    border: 1px solid #000;
    color: #000;

    svg {
      fill: #000;
      height: 25px;
      width: 25px;
      margin: 0 0 0 0px;
      padding: 0;
      float: right;
      @include transition-list(all 0.1s ease-in 0s);
    }

    &:hover {
      background: #000;
      border: 1px solid #fff;
      color: #fff;

      svg {
        fill: #fff;
      }
    }
  }

  .clear-filters-button {
    @include clear-filters-button;
  }
}

.clear-filters-button {
  @include clear-filters-button;
}
