@import "utils/colors.scss";

.shepcontainer {

  .header-topWrapper {
    display: block;
  }

  .header-wrapper {
    border-bottom: none;
  }

  .container-header {
    background-color: rgb(239, 237, 235);
    h1 {
      font-size: 32px;
      font-weight: 400;
      font-family: Milo-Light;
    }
    .nypl-column-full {
      margin-top: 10px;
    }
    border-bottom: none;
    margin-bottom: 10px;
    min-height: 145px;
  }

  .nypl-row.container-row {
    padding-right: 10px;
  }

  .main-page {
    .header-topWrapper {
      display: block;
    }
  }


  .nypl-column-full {
    margin-left: 150px;
    @include media(1025px) {
      margin-left: 25px;
    }
  }
}
