.nypl-sorter-row {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 0;

  .nypl-full-width-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }

  .nypl-column-full {
    margin-bottom: 0;
  }
}

// Temporary until this is in the Design Toolkit
.nypl-results-summary {
  display: inline-block;
  float: left;

  h2 {
    margin-top: 1.35rem;
  }

  @include min-screen($xtrasmall-breakpoint) {
    max-width: 65%;
  }
}

.nypl-results-sorting-controls {
  float: left;
  display: inline-block;
  margin: 1rem 0;

  @include min-screen($xtrasmall-breakpoint) {
    float: right;
  }
}

.nypl-results-sorter {
  margin-right: 0;

  form {
    margin-left: 10px;
    background-color: #fff;
    border: 0.0625rem solid #9d9ea1;
    border-radius: 0.2rem;
    color: #080807;
    display: inline-block;
    font-size: 0.85rem;
    font-weight: normal;
    height: auto;
    letter-spacing: normal;
    padding: 0.4rem 0.75rem;
    text-decoration: none;
    text-transform: none;
    white-space: nowrap;
    position: relative;
    padding-right: 1.5rem;
    text-align: left;
    padding-right: 1.75rem;
    text-transform: uppercase;
  }

  select {
    border: none;
    background: #fff;
    color: #080807;
    width: 150px;
    padding: 0;
    cursor: pointer;
  }
}
