@import "utils/colors.scss";

$subject-heading-table-header: rgb(224, 219, 214);

$emphasis-font-weight: 500;

$table-row-border: 1px solid rgb(215, 210, 205);

.subject-heading-page-header {
  display: flex;
  justify-content: space-between;
}

.subject-heading-page {
  .page-title {
    padding-top: var(--space-l);
  }
}

thead .subjectHeadingRow {
  background-color: unset;
}

.subjectHeadingInfo {
  display: flex;
}

.subjectHeadingNav {
  margin-bottom: 50px;
  text-align: center;
}

.subjectNavButton {
  margin: 100px;
  font-size: 20px;
  text-decoration: none;
  padding: 20px;
}

.nypl-results-pagination.showPage {
  display: flex;
  justify-content: space-between;
}

.verticalEllipse {
  font-size: 14px;
  margin-bottom: 3px;
  line-height: 5px;
  padding-bottom: 4.5%;
  padding-left: 3px;
  .dot {
    text-align: left;
    display: block;
  }
}

.nypl-results-sorter.shepBibs {
  float: left;
  margin-bottom: 0;

  .nypl-select-field-results {
    margin: 0;
  }
}

#sort-by-label {
  width: 160px;
}
