.subjectHeadingRow {
  list-style: none;
  margin-left: 15px;
  font-weight: 500;
}

.subjectHeadingRow.openSubjectHeading {
  background: #E8E4E3;
}

.subjectHeadingRow > li {
  display: inline-block;
}

.subjectHeadingLabelAndToggle {
  list-style: none;
  margin-left: 15px;
  font-weight: 500;
  width: 650px;
}

.subjectHeadingLabelAndToggle > .subjectHeadingToggle {
  max-width: none;
  display: inline-block;
  width: 50px;
}

.subjectHeadingLabelAndToggle > .subjectHeadingLabel {
  max-width: none;
  padding-left: 20px;
  display: inline-block;
}

.subjectHeadingRow > .subjectHeadingAttribute {
  max-width: none;
  width: 100px;
}

.subjectHeadingNav {
  text-align: center;
  margin-bottom: 50px;
}

.subjectNavButton {
  margin-right: 200px;
  border: 1px solid #104d65;
  text-decoration: none;
  padding: 20px;
}

.subjectHeadingsBanner {
  font-size: 35px;
  font-weight: 200;
  background: #E8E4E3;
  padding: 35px;
  margin-bottom: 50px;
}

.seeMoreButton {
  color: #104d65;
  font-style: italic;
}
