$break-breadcrumbs-mobile: max-width 599px;

.sub-nav {
  background-color: var(--nypl-colors-ui-black);
  padding-bottom: var(--nypl-space-xs);
  padding-top: var(--nypl-space-xs);

  span {
    text-decoration: none !important;
  }
  
  &__link,
  &__link:link,
  &__link:visited,
  &__link:focus {
    color: var(--nypl-colors-ui-white);
    text-decoration: none !important;
  }

  &__link:hover {
    text-decoration: underline;
  }

  &__link.active-section {
    font-weight: 700;
  }

  &__list {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 var(--nypl-space-s);
    width: 100%;

    color: var(--nypl-colors-ui-white);
  }

  .nypl--research & {
    background-color: var(--nypl-colors-section-research-primary);
  }
}
