.tabs {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;

  .tab {
    flex-grow: 1;
    text-align: center;
    color: $pagetextcolor;
    text-decoration: none;
    height: auto;
    line-height: normal;
    padding: 0.35rem 0;
    border: 1px solid transparent;
    border-bottom: 0;
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
    margin-right: 0.35rem;
    margin-bottom: 0;

    &:hover {
      background: $buttonhovercolor;
      color: $buttontextcolor;
    }

    &[aria-selected="true"] {
      background: $backgroundcolor;
      color: $pagetextcolor;
      cursor: default;
      border-color: $bordercolor;
      border-bottom: 2px solid $backgroundcolor;
      margin-bottom: -2px;
    }
  }
}

.tabpanel {
  display: none;
  min-height: 60px;
  border: 1px solid $bordercolor;

  img {
    width: 100%;
    height: auto;
  }

  &.active {
    display: block;
  }
}
.tabpanel-item {
  line-height: normal;
  padding: 0.35rem;
  border-top: 1px solid $bordercolor;
  display: flex;
  flex-direction: row;

  &:first-child {
    border-top: 0;
  }

  .tabpanel-image {
    flex: 0 0 60px;
    max-height: 60px;
    overflow: hidden;

    img {
      width: 100%;
      margin: 0 auto;
      display: block;
    }
  }

  .tabpanel-link {
    display: block;
    text-decoration: none;
    flex-grow: 1;
    padding-left: 0.5rem;

    .type,
    .title,
    .description {
      display: block;
    }

    .type,
    .description {
      color: $pagetextcolor;
      font-size: 0.7rem;
    }

    .type {
      text-transform: uppercase;
    }

    .title {
      font-size: 0.9rem;
    }

    .description {
      color: $pagetextcolor;
    }

    .divider {
      display: inline-block;
      margin: 0 0.2rem;
      font-size: 2rem;
      line-height: 0.8rem;
      vertical-align: middle;
      color: $pagetextcolor;

      &:before {
        content: "·";
      }
    }
  }
}

a.tabpanel-link-full {
  display: block;
  background: $buttoncolor;
  color: $buttontextcolor;
  text-align: center;
  text-decoration: none;
  line-height: 2rem;
  &:hover {
    background: $buttonhovercolor;
    color: $buttontextcolor;
  }
}
