packages:
  yum:
    awslogs: []

files:
  "/etc/awslogs/config/application_log.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [application_log]
      file = /var/app/current/log/discovery-ui.log*
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/app/current/log/discovery-ui.log"]]}`
      log_stream_name = {instance_id}

commands:
  "01":
    command: systemctl enable awslogsd.service
  "02":
    command: systemctl restart awslogsd