/* Import style rules from NYPL Design System */
// This imports system-font styles and DatePicker styles.
@import '~@nypl/design-system-react-components/dist/styles.css';
// This imports DS breakpoints and mixins.
@import '~@nypl/design-system-react-components/dist/resources.scss';

/*
App-specific utilities and defaults
*/
@import 'utils/colors.scss';
@import 'utils/variables.scss';
@import 'utils/mixins.scss';
@import 'utils/utils.scss';
@import 'utils/base.scss';

/*
Import style rules from NYPL React module components
*/
@import '~@nypl/dgx-header-component/dist/styles/main';
@import '~@nypl/dgx-react-footer/dist/styles/styles';

@import 'components/**/*.scss';

@import 'style-v2.scss';

// From older DS version
.main {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 var(--nypl-space-s);
  width: 100%;
  display: block;
}
// The Reservoir DS does not have a `Modal` component, so we need
// to temporarily use its previous style rules for the UI component.
.old-ds-modal {
  padding: var(--nypl-space-s);
  background-color: var(--nypl-colors-ui-gray-x-light-warm);
  height: 100vh;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
}

.hidden {
  display: none;
}

// Overrides for other components
.footer {
  // Override DS global setting
  box-sizing: initial !important;
  a {
    color: white;
    background-color: transparent;
  }
}

.hide-results-list {
  opacity: 0;
  visibility: hidden;
  height: 500px;
}

.nypl-form-error li {
  margin-left: 0.5rem;
}

// Misc override
.footer-content .footerLinks {
  line-height: 15px !important;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -moz-appearance: button;
}
input[type='submit']:focus {
  outline-style: solid;
  outline-width: 3px;
}

.nypl-results-pagination {
  margin-top: 1.5rem;
  margin-bottom: 3rem;

  a {
    padding: 0.5rem;
    border: 0.08333rem solid $lightBorder;
    border-radius: 0.2rem;
    font-weight: 500;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:last-child {
      flex-direction: row-reverse;
    }

    svg {
      height: 1.8rem;
      width: 1.8rem;
      margin-top: 0;
      fill: var(--nypl-colors-ui-link-primary);
    }
  }

  &::after,
  &::before {
    content: '';
    display: table;
  }
}

select {
  color: var(--nypl-colors-ui-black);
}

.nypl-basic-table {
  margin-top: 20px;
  width: 100%;

  thead {
    text-align: left;
  }
  th,
  td {
    overflow: inherit;
    padding-right: 15px;
    width: 15%;
    &.status-links {
      width: 30%;
      padding-top: var(--nypl-space-s);
      &.mobile {
        width: 60%;
      }
    }

    &:last-of-type {
      padding-right: 0;
    }
  }

  td {
    vertical-align: top;
    padding-top: 0.25em;
    padding-bottom: 0.5em;
  }
}

.nypl-results-publication {
  display: inline-block;
  margin-right: 1rem;
  color: $darkColorBoxShadow;
  font-size: '';
  font-weight: 400;
}

.footer-content {
  .footerLinks {
    .linkItemList {
      li {
        padding: 2px;
        margin: 5px;
      }
    }
  }
}

.nypl-results-pagination .page-count.last-page {
  margin-left: 0;
  margin-right: 25%;
}

.nypl-column-full {
  padding: 0;
}

.research-modal {
  background: rgba(64, 64, 64, 0.9);
  padding-top: 25vh;

  div {
    background-color: $lightBackgroundColor;
    margin: auto;
    opacity: 100%;
    width: 472px;
    max-width: 100%;
  }

  span {
    font-weight: 700;
  }

  p:nth-child(2) {
    font-weight: 500;
  }

  button {
    width: 153px;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:not(last-of-type) {
      margin-bottom: var(--nypl-space-s);
    }
  }
}

.research-modal__content {
  align-items: flex-start;
  background: $lightBackgroundColor;
  border: 1px solid var(--nypl-colors-ui-gray-light-cool);
  border-radius: 5px;
  flex-flow: column wrap;
  min-height: 200px;
  padding: var(--nypl-space-s) var(--nypl-space-l);

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}

a:focus {
  background-color: inherit;
  box-shadow: none;
}

@media (max-width: 400px) {
  .research-modal__content {
    padding-left: var(--nypl-space-s);
    padding-right: var(--nypl-space-s);
  }
}
