/*
Import style rules from NYPL Design Toolkit
*/
@import 'sass/nypl-normalize';
@import 'sass/**/*.scss';

/*
Import style rules from NYPL Design System
*/
@import '@nypl/design-system-react-components/dist/styles';
@import '@nypl/design-system-react-components/dist/resources';

/*
App-specific utilities and defaults
*/
@import 'utils/mixins.scss';
@import 'utils/utils.scss';
// @import "utils/fonts.scss";
@import 'utils/variables.scss';
@import 'utils/base.scss';
@import 'utils/colors.scss';

/*
Import style rules from NYPL React module components
*/
@import '@nypl/dgx-header-component/dist/styles/main';
@import '@nypl/dgx-react-footer/dist/styles/styles';

@import 'components/**/*.scss';

@import 'style-v2.scss';

html {
  @include font-settings;
  background: #fff;
  color: #000;
}

.hidden {
  display: none;
}

// Overrides for other components
.footer {
  a {
    color: white;
    background-color: transparent;
  }
}

.MyNypl-Login-List {
  li {
    margin-bottom: 0;
  }
}

.hide-results-list {
  opacity: 0;
  visibility: hidden;
  height: 500px;
}

.nypl-form-error li {
  margin-left: 0.5rem;
}

// odd override for Header alert
header #skip {
  position: absolute;
}

// Misc override
.footer-content .footerLinks {
  line-height: 15px !important;
}

li, p {
  max-width: 100%;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -moz-appearance: button;
}
input[type=submit]:focus {
  outline-style: solid;
  outline-width: 3px;
}

.no-scroll {
  overflow: hidden;
  position: inherit;
}

.emailSubscription-wrapper {
  margin-top: 5px !important;
}

.nypl-results-pagination {
  a {
    padding: 0.5rem;

    svg {
      height: 1.8rem;
      width: 1.8rem;
      margin-top: 0;
    }
  }
}

select {
  color: #000;
}

.nypl-basic-table {
  margin-top: 20px;

  th, td {
    overflow: inherit;
    padding-right: 15px;
    width: 16%;

    &:last-of-type {
      padding-right: 0;
    }
  }
  td span {
    color: #000;
  }
}

// For now until it's in the Design Toolkit
.nypl-results-publication {
  display: inline-block;
  margin-right: 1rem;
  color: #080807;
  font-size: "";
  font-weight: 400;
}

.footer-content {
  .footerLinks {
    .linkItemList {
      li {
        padding: 2px;
        margin: 5px;
      }
    }
  }
}

.nypl-results-pagination .page-count.last-page {
  margin-left: 0;
  margin-right: 25%;
}

.nypl-column-full {
  padding: 0;
}

.research-modal {
  background: rgba(64, 64, 64, 0.9);
  padding-top: 25vh;

  div {
    background-color: #F9F8F7;
    margin: auto;
    opacity: 100%;
    width: 472px;
    max-width: 100%;
  }

  span {
    font-weight: 700;
  }

  p:nth-child(2) {
    font-weight: 500;
  }

  button {
    width: 153px;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:not(last-of-type) {
      margin-bottom: var(--space-s);
    }
  }
}


.research-modal__content {
  align-items: flex-start;
  background: #F9F8F7;
  border: 1px solid var(--ui-gray-light);
  border-radius: 5px;
  flex-flow: column wrap;
  min-height: 200px;
  padding: var(--space) var(--space-l);

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}

a:focus {
  background-color: inherit;
  box-shadow: none;
}

@media (max-width: 400px) {
  .research-modal__content {
    padding-left: var(--space);
    padding-right: var(--space);
  }
}
