@import "utils/mixins.scss";
@import "utils/utils.scss";
@import "utils/fonts.scss";
@import "utils/variables.scss";
@import "utils/base.scss";

/*
Import style rules from NYPL React module components
*/
@import "~@nypl/dgx-header-component/dist/styles/main";
@import "~@nypl/dgx-react-footer/dist/styles/styles";

@import "components/Home.scss";
@import "components/Search.scss";
@import "components/Breadcrumbs.scss";
@import "components/Results.scss";
@import "components/Item.scss";
@import "components/FacetSidebar.scss";

#app {
  margin: 0;
}

.page-header {
  background: #e9e8e7;
}

.container {
  max-width: $containerWidth;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  @include box-sizing();
}

.search-results-container {
  @include clearfix();
}
