// discovery-item.v2.html
// item info / the full item record
.nypl-item-details {
  dl {
    border-left: 0;
    font-size: 0.95rem;
    padding-left: 0;

    dt {
      color: $nypl-dark-gray;
      font-size: 0.85rem;
      font-weight: 700;
      letter-spacing: 0.04rem;
      margin: 0 0.5rem 1rem 0;
      width: 20%;

      @include media($mobile-breakpoint) {
        float: none;
        margin-bottom: 0.75rem;
        width: 100%;
      }
    }

    dd {
      //font-size: 0.95rem;
      margin-bottom: 1rem;
      width: 70%;

      @include media($mobile-breakpoint) {
        margin-bottom: 1.25rem;
        width: 100%;
      }

      &.subject-listing a {
        display: block;
      }
    }
  }

} // /.nypl-item-details
