// discovery-item.v2.html
// item info / the full item record
.nypl-item-details {

  &__heading {
    align-items: baseline;
    display: flex;
  }

  h2 {
    padding-right: var(--nypl-space-s);
    padding-top: var(--nypl-space-l);
  }

  #legacy-catalog-link {
    margin-bottom: 57px;
  }

  dl:first-of-type {
    padding-bottom: 7px;
  }

  dl {
    border-left: 0;
    font-size: 0.95rem;
    padding-left: 0;

    dt {
      color: $nypl-dark-gray;
      font-size: 0.85rem;
      font-weight: 700;
      letter-spacing: 0.04rem;
      margin: 0 0.5rem 1rem 0;
      width: 20%;

      @media (max-width: 600px) {
        float: none;
        margin-bottom: 0.75rem;
        width: 100%;
      }
    }

    dd {
      //font-size: 0.95rem;
      margin-bottom: 1rem;
      width: 70%;
      max-width: 70%;

      @media (max-width: 600px) {
        margin-bottom: 1.25rem;
        width: 100%;
      }

      &.subject-listing a {
        display: block;
      }
    }
  }

}

@media (max-width: 600px) {
  .nypl-item-details__heading {
    display: block;
  }
}
// /.nypl-item-details

.tabbed dl {
  border-bottom: 1px solid var(--nypl-colors-ui-gray-light-cool);
  padding-top: 15px;
  &:first-of-type {
    padding-top: 0px;
  }
  &:last-of-type {
    border-bottom: 0;
  }
}

.nypl-results-item {
  border-bottom: 0;
}

@media (max-width: 965px) {
  .nypl-results-item .nypl-basic-table#bib-item-table {
    display: table;
  }
}
