// discovery-item.v2.html
// item info / the full item record
.nypl-item-details {

  a {
    text-decoration: underline !important;
  }

  &__heading {
    align-items: baseline;
    display: flex;
  }

  h2 {
    padding-right: var(--nypl-space-s);
    padding-top: var(--nypl-space-l);
    max-width: 35rem;
  }

  #legacy-catalog-link {
    margin-bottom: 57px;
    display: inline-block;
  }

  dl:first-of-type {
    padding-bottom: 7px;
  }

  dl {
    border-left: 0;
    font-size: 0.95rem;
    padding-left: 0;

    &::after,
    &::before {
      content: "";
      display: table;
    }
    &::after {
      clear: both;
    }

    dt {
      // color: $nypl-dark-gray;
      color: darken($darkGrayTextColor, 40%);
      font-size: 0.85rem;
      font-weight: 700;
      letter-spacing: 0.04rem;
      margin: 0 0 1rem 0;
      width: 20%;
      float: left;
      clear: both;

      @media (max-width: 600px) {
        float: none;
        margin-bottom: 0.75rem;
        width: 100%;
      }
    }

    dd {
      margin-bottom: 1rem;
      width: 80%;
      max-width: 80%;
      float: right;
      font-size: 0.85rem;

      ul {
        list-style-type: none;
      }

      @media (max-width: 600px) {
        margin-bottom: 1.25rem;
        width: 100%;
      }

      &.subject-listing a {
        display: block;
      }
    }
  }

}

@media (max-width: 600px) {
  .nypl-item-details__heading {
    display: block;
  }
}

.tabbed dl {
  border-bottom: 1px solid var(--nypl-colors-ui-gray-light-cool);
  padding-top: 15px;
  &:first-of-type {
    padding-top: 0px;
  }
  &:last-of-type {
    border-bottom: 0;
  }
}
.nypl-results-list {
  .nypl-results-item {
    a {
      text-decoration: none;
    }
  }
}

.nypl-results-item {
  margin-bottom: 3.25rem;
  border-bottom: 0.0625rem solid $lightBorder;
  padding-bottom: 2em;

  .nypl-results-item-description {
    ul {
      list-style: none;

      li {
        display: inline-block;
        margin-right: var(--nypl-space-s);
      }
    }
  }
}

.nypl-item-details {
  .nypl-results-item {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 965px) {
  .nypl-results-item .nypl-basic-table#bib-item-table {
    display: table;
  }
}
