.drbb-container {
  border: 1px solid $borderDefault;
  border-radius: 8px;
  float: right;
  margin: auto;
  margin-left: 0;
  margin-bottom: 20px;
  padding: 2.5%;
  width: 100%;

  .loadingLayer-texts-loadingWord {
    margin-bottom: unset;
    text-transform: initial;
  }

  .loadingDots {
    margin-top: unset;
  }
}

.drbb-description {
  font-size: 12px;
  display: block;
  font-weight: 450;
}

.drbb-result {
  background-color: $bgDefault;
  border-radius: 6px;
  font-size: 14px;
  margin: 20px 0;
  padding: 5% 7%;
}

.drbb-result-title{
  display: block
}

.drbb-list {
  list-style: none;
}

.drbb-loading-layer {
  height: 135px;
  padding-top: 35px;
  text-align: center;
}

a.drbb-read-online {
  background-color: $linkPrimary;
  border: 0.08333rem solid $linkPrimary;
  border-radius: 0.13333rem;
  color: $white;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.06rem;
  text-decoration: none;
  padding: 4px 13px;
  margin-right: 6px;

  &:hover,
  &:focus {
    color: $linkPrimary;
    background-color: $white;
  }
}

a.drbb-download-pdf {
  color: $black;
  fill: currentColor;
  padding: 2% 0;
  font-size: 0.8rem;
  font-weight: normal;
  letter-spacing: 0.06rem;

  svg {
    padding-right: 5px;
    margin-bottom: -3px;
  }
}

.drbb-read-online, .drbb-download-pdf {
  display: inline-block;
  font-size: .8rem;
  margin: 2% 0;
}

.drbb-item-links {
  height: 33px;
}

.drbb-promo {
  width: 100%;
  text-align: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bgDefault;
  border-radius: 4px;

  img {
    max-width: 80%;
  }
}

.drbb-authorship {
  margin: 7px 0;
}

.drbb-frontend-link {
  font-size: 14px;
  text-decoration: underline;
}

.nypl-results-list.drbb-integration {
  box-sizing: border-box;
  display: inline-block;
  padding-right: 0;
  width: 100%;
  list-style-type: none;
}

.nypl-select-field-results {
  margin: 39px 0 32px 0;
}

.nypl-results-sorting-controls {
  margin: 0;
  display: inline-block;

  .nypl-select-field-results {
    label {
      display: inline-block;
      margin-right: var(--nypl-space-xs);
      font-weight: 500;
    }
  }

  form {
    display: inline-block;
    font-size: 0.85rem;
    padding: 0.4rem 0;

    select {
      appearance: none;
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzAuNSIgaGVpZ2h0PSIxOC40Mjc3NCIgdmlld0JveD0iMCAwIDMwLjUgMTguNDI3NzQiIGFyaWEtaGlkZGVuPSJ0cnVlIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCBtZWV0Ij4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQogIHBhdGggeyBmaWxsOiAjMTExMTExOyB9DQo8L3N0eWxlPg0KICA8dGl0bGU+ZG93biB3ZWRnZTwvdGl0bGU+DQogIDxwYXRoIGQ9Ik0yNi44MTguNjc5LDE1LjI4OCwxMi4yMjMxNSwzLjU5MTUzLjU5NTkyQTIuMDc0OCwyLjA3NDgsMCwwLDAsLjY5MDg0LjU4NjM2aDBhMi4yNzc1MywyLjI3NzUzLDAsMCwwLS4wMjYsMy4yNDIxMUwxNS4yMjQwNywxOC40Mjc3NCwyOS44NywzLjczNDMxQTIuMTU5MywyLjE1OTMsMCwwLDAsMjkuODU0MzYuNjdoMEEyLjE1OTMsMi4xNTkzLDAsMCwwLDI2LjgxOC42NzlaIi8+DQo8L3N2Zz4=) no-repeat 99% $white;
      background-size: 1rem;
      border: 0;
      border-radius: 0.2rem;
      font-weight: 600;
      height: 3em;
      padding-right: 7%;
      padding-left: 0.5rem;
      width: inherit;
      background-position-x: 92%;
      border: 0.0625rem solid $borderDefault;
      padding: 0 1.25rem 0 0.75rem;
    }
  }
}

.nypl-results-summary.no-scc-results.drbb-integration {
  width: 100%;
}

@include media($nypl-breakpoint-large) {
  .nypl-results-list.drbb-integration {
    width: 65%;
    padding-right: 10%;
  }

  .drbb-container {
    width: 30%;
    margin-left: 15px;
  }

  .nypl-results-summary.no-scc-results.drbb-integration {
    width: 65%
  }
}
