.seeMoreButton {
  color: #104d65;
  font-size: 14px;
  font-style: italic;
  margin-left: 40px;
  cursor: default;
  @include removeDefaultButtonStyle;

  em {
    padding-left: 10px;
  }

  &:focus {
    outline-color: #ffb81d;
    outline-style: solid;
    outline-width: .125rem;
  }

  &:hover {
    color: #1b7fa7;
  }
}
