.seeMoreButton {
  color: $generalDarkerBlueColor;
  font-size: 14px;
  cursor: default;
  @include removeDefaultButtonStyle;

  em {
    padding-left: 10px;
  }

  &:hover {
    color: $generalBlueColor;
  }
}
