$light-border: 1px solid #d7d4d0;

.alphabeticalPagination {
  border: $light-border;
  border-radius: .2rem;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  max-width: 100%;
  text-align: center;
  background-color: #d7d4d0;
  line-height: 32px;
  padding: 1px;

  a {
    box-sizing: border-box;
    background-color: #ffffff;
    display: inline-block;
    flex: auto;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    min-width: 32px;
    border: 1px solid #d7d4d0;
    border-radius: 1px;
    margin: -1px;

    &:focus {
      z-index: 1;
      background-color: #ffffff;
    }
  }
}
