.alphabeticalPagination {
  border: 1px solid $borderDefault;
  border-radius: .2rem;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  max-width: 100%;
  text-align: center;
  background-color: $borderDefault;
  line-height: 32px;
  padding: 1px;

  a {
    box-sizing: border-box;
    background-color: $white;
    display: inline-block;
    flex: auto;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    min-width: 32px;
    border: 1px solid $borderDefault;
    border-radius: 1px;
    margin: -1px;

    &:focus {
      z-index: 1;
      background-color: $white;
    }
  }
}

@include media($xtrasmall-breakpoint) {
  .alphabeticalPagination {
    line-height: 35px;

    a {
      min-width: 35px;
    }
  }
}
