$light-border: 0.08333rem solid #d7d4d0;

.alphabeticalPagination {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  max-width: 100%;
  text-align: center;
  display: flex;

  a {
    border: $light-border;
    border-right: 0;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    min-width: 24px;
    text-decoration: none;
    cursor: pointer;
    flex: 3%;
    display: inline-block;
  }
  a:last-child {
    border-right: $light-border;
    border-radius: 0 0.2rem 0.2rem 0;
  }
  a:first-child {
    border-radius: 0.2rem 0 0 0.2rem;
  }
}

$top-left-corner: 0.2rem 0 0 0;
$top-right-corner: 0 0.2rem 0 0;
$bottom-right-corner: 0 0 0.2rem 0;
$bottom-left-corner: 0 0 0 0.2rem;

@media screen and (max-width: 750px) {
  .alphabeticalPagination {
    flex-wrap: wrap;
    a:first-child {
      border-radius: $top-left-corner;
    }
    a:last-child {
      border-radius: $bottom-right-corner;
    }
  }
}

@media screen and (max-width: 750px) and (min-width: 420px) {
  .alphabeticalPagination {
    a {
      flex: 6.6%;
      max-width: 45px;
    }
    a:nth-child(14) {
      border-right: $light-border;
      border-radius: $top-right-corner;
    }
    a:nth-child(15) {
      border-radius: $bottom-left-corner;
    }
    a:nth-child(-n+14) {
      border-bottom: unset;
    }
  }
}


@media screen and (max-width: 419px) {
  .alphabeticalPagination {
    a {
      flex: 9.5%;
      max-width: 34px;
    }
    a:nth-child(10n) {
      border-right: $light-border;
    }
    a:nth-child(10){
      border-radius: $top-right-corner;
    }
    a:nth-child(21) {
      border-radius: $top-left-corner;
    }
    a:nth-child(-n+10) {
      border-bottom: unset;
    }
    a:nth-child(n+21) {
      border-top: unset;
    }
  }
}
