.bibsLists {
  font-size: 14px;

  &.subjectHeadingShowLoadingWrapper {
    height: 500px;
  }

  // &:focus {
  //   outline: none;
  //   box-shadow: inset 0 0 0 4px lightBlue;
  // }

  ul {
    list-style: none;
  }
}

@media (min-width: 966px) {
  .bibsList {
    min-height: 22rem;
  }
}
