.bibsLists {
  font-size: 14px;

  &.subjectHeadingShowLoadingWrapper {
    height: 500px;
  }

  ul {
    list-style: none;
  }
}

.shepcontainer {
  #titles {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

@media (min-width: 966px) {
  .bibsList {
    min-height: 22rem;
  }
}
