.bibsList {
  font-size: 14px;

  &.nypl-column-half {
    float: left;
    margin-bottom: 1rem;
    padding-right: 10px;
    min-height: 1rem;
    width: 50%;
  }

  &.subjectHeadingShowLoadingWrapper {
    height: 500px;
  }

  ul {
    list-style: none;
  }
}

@include media($nypl-breakpoint-large) {
  .bibsList {
    min-height: 22rem;
  }
}
