.nestedTable {
  border-bottom: $table-row-border;
  
  th {
    font-style: italic;
    font-weight: normal;
    text-align: left;
  }

  .selected {
    font-weight: $emphasis-font-weight;
  }
  .emph {
    color: black;
  }
  .subjectHeadingLabelInner, .subjectHeadingAttributeInner {
    display: inline-flex;
  }
}
