.nestedTable {
  th {
    font-weight: normal;
  }

  .selected {
    font-weight: bold;
  }
  .emph {
    color: black;
  }
  .subjectHeadingLabelInner, .subjectHeadingAttributeInner {
    display: inline-flex;
  }
}
