.subjectHeadingsSideBar {
  display: flex;
  flex-direction: column;
  float: right;

  .subjectHeadingsTable {
    min-width: 100%;
    width: fit-content;
  }
}

.subjectHeadingInfoBox {
  border-color: #000000;
  border-style: solid;
  border-top-width: 3px;
  justify-self: end;
  width: 100%;

  .sideBarContentHeading {
    padding-left: 5px;
    background-color: $subject-heading-table-header;
  }

  .toIndex {
    font-size: 16px;
    min-height: 32px;
    text-decoration: none;
    font-weight: 500;
  }

  .toIndex:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.context {
  .contextMore {
    color: gray;
  }
}

.related {
  height: fit-content;

  .emph {
    color: inherit;
  }

  .subjectHeadingToggle {
    display: none !important;
  }

  .subjectHeadingLabelInner {
    margin-left: 1%;
  }
}

.subjectHeadingInfoBox {
  margin-bottom: 14px;
  min-width: 400px;
  padding: 0;

  .subjectHeadingsTableCell {
    font-size: 12px;
  }

  h4 {
    font-size: 16px;
    font-weight: 500;
  }

  .subjectHeadingLabelContainer {
    padding: 2px;
  }

  .subjectHeadingAttribute {
    padding-right: 1%;
  }

  th {
    font-size: 12px;
    min-width: 45px;
  }
}

@include media($mobile-breakpoint) {
  .subjectHeadingsSideBar {
    float: left;
    width: 100%;

    .subjectHeadingsTable {
      width: 100%;
    }
  }

  .subjectHeadingInfoBox {
    min-width: auto;
  }
}

@include media($xtrasmall-breakpoint) {
  .subjectHeadingsSideBar {
    float: left;
    width: unset;
  }
}
