@import "utils/colors.scss";

@include media($xtrasmall-breakpoint) {
  .autocomplete {
    width: 100%;
  }

  .autocomplete-field input {
    width: 100%;
  }
}

.autosuggestInput {
  display: flex;
  margin-top: 2px;

  button {
    @include removeDefaultButtonStyle;
    background: black;
    display: inline;
    line-height: 18px;
    padding: 2px;

    svg {
      display: inline;
      padding: 5px;
    }
  }
}

.autocomplete {
  float: right;
  display: inline-block;
  position: relative;
}

.autocomplete-field {
  position: relative;
  padding: 5px;

  input {
    border: 1px solid #999;
    line-height: 32px;
    padding: 0;
    text-indent: 5px;
  }

  &> input:focus {
    box-shadow: none;
    outline-color: $focuscolor;
    outline-style: solid;
    outline-width: 0.125rem;
  }

  &:focus-within .suggestions {
    display: inherit;
  }
}

.suggestions {
  border: 1px solid #999;
  list-style: none;
  background-color: white;
  position: absolute;
  z-index: 1;
  margin-top: -1px;
  margin-bottom: 0px;
  min-width: 199px;
  width: auto;
  left: 5px;
  right: 5px;
}

.suggestion-active {
  font-weight: bold;
}

.suggestion-active,
.suggestions li {
  cursor: pointer;
  font-size: .9rem;
  height: 100%;
  line-height: 32px;
  margin-bottom: 0;
  min-height: 32px;

  a {
    text-decoration: none;
  }

  a:hover {
    .itemLabel, .aggregateBibCount {
      text-decoration: underline;
    }
  }

  em {
    color: black;
  }

  a {
    padding: 1% 1%;
    display: block;
  }
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.autosuggest {
  display: flex;
  justify-content: space-between;
  margin: 0 1%;

  span {
    line-height: initial;
    width: fit-content;
  }
}

.aggregateBibCount {
  float: right;
  margin-left: 5px;
  min-width: 95px;
  text-align: right;
}
