.react-autosuggest__container {
  width: 40%;

  li {
    margin-bottom: 0;
  }

  input {
    width: 100%;
    margin-bottom: unset;
    padding: var(--nypl-space-xs);
    border: 1px solid $grayMedium;

    &::placeholder {
      color: $grayDark;
    }
  }
}

@media (max-width: 600px) {
  .react-autosuggest__container {
    display: block;
    width: 100%;
  }
}

.aggregateBibCount {
  float: right;
  margin-left: 5px;
  min-width: 95px;
  text-align: right;
}
