.subjectHeadingsTable thead {
  background-color: $subject-heading-table-header;

  th {
    font-weight: normal;
    &.sort {
      text-align: center;
    }

    &.subjectHeadingAttribute {
      text-align: right;
      width: 75px;
    }
  }

  .subjectHeadingsTableCell.selected {
    font-weight: 600;
  }

  .subjectHeadingAttributeInner {
    display: inline-flex;
  }

  .headingColumnHeader {
    display: flex;
    padding-left: 35px;
  }

  .subjectSortButton {
    padding-right: 10px;
  }
}
