.subjectHeadingsTable thead {
  .subjectHeadingsTableCell.selected {
    color: #a83232;
  }
  .subjectHeadingAttributeInner {
    display: inline-flex;
  }

  .subjectHeadingLabelInner {
    display: flex;
  }

  .subjectSortButton {
    padding-right: 10px;
  }
}
