.subjectHeadingsTable {
  display: table;
  font-size: 15px;
  width: 100%;

  &.index, &.context {
    background-color: $top-level-heading;
  }

  a {
    display: flex;
    text-decoration: none;
  }

  .subjectHeadingAttribute {
    text-align: right;
    max-width: fit-content;
  }

  .subjectSortButton {
    margin-right: 10px;
    font-size: 15px;
    @include removeDefaultButtonStyle;
  }

  &.index {
    min-width: 60px;

    .subjectHeadingAttribute {
      padding: 0 10px;
    }
  }
}
