.subjectHeadingsTable thead {
  line-height: 2.5;

  th {
    font-style: italic;
    font-weight: normal;

    &.sort {
      text-align: center;
    }
  }

  .selectedColumn {
    font-weight: $emphasis-font-weight;
  }

  .headingColumnHeader {
    display: flex;
    padding-left: 5px;
  }
}

.index thead {
  border-bottom: 1.5px solid #000000;
}

.subjectHeadingsTable:not(.related) {
  .headingColumnHeader {
    padding-left: 32px;
  }

  @include media($mobile-breakpoint) {
    .headingColumnHeader {
      padding-left: 12px;
    }
  }
}
