@import "utils/colors.scss";

.subjectHeadingLabel.mainLabel {
  font-style: italic;
}

.subjectHeadingToggle {
  position: absolute;
  left: -30px;
  min-width: 32px;
  text-align: center;

  @include removeDefaultButtonStyle;

  &:focus {
    // outline: -webkit-focus-ring-color auto 5px;
    outline-color: #0f465c;
    // outline-width: .125rem;
    outline-offset: -6px;
    background-color: inherit;
    box-shadow: none;
    // box-shadow: 1px 1px 1px 1px #082530;
  }
}

.subjectHeadingRow {
  display: table-row;

  .subjectHeadingsTableCell {
    box-sizing: border-box;
    display: table-cell;
    height: 100%;

    .subjectHeadingLabelInner {
      height: 100%;
      position: relative;

      a:hover {
        color: #176e91;
        cursor: pointer;
      }
    }
  }
}

.subjectHeadingRow {
  border-bottom: $table-row-border;
  line-height: 32px;
  background-color: $subjectHeadingBackground;

  .selected .emph {
    font-weight: 700;
  }

  &.openSubjectHeading {
    border-bottom: 0;
  }
}

.index .nestedSubjectHeading .emph {
  font-weight: $emphasis-font-weight;

  .noEmph {
    font-weight: normal;
  }
}


.emph {
  color: black;

  &:hover {
    color: inherit;
  }
}



a:focus {
  background-color: inherit;
}
