.subjectHeadingContext,
.subjectHeadingRelated {
  border-color: #000000;
  border-style: solid;
  border-width: thin;
  justify-self: end;

  h4 {
    margin-bottom: 1%;
    margin-left: 1%;
  }
}

.subjectHeadingInfoBox {
  .toIndex {
    font-size: 14px;
    font-style: italic;
    min-height: 32px;
    padding-left: 10px;
    text-decoration: none;
  }

  .toIndex:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.subjectHeadingRelated {
  height: fit-content;

  .emph {
    color: inherit;
  }

  .subjectHeadingToggle {
    display: none;
  }
}

.subjectHeadingInfoBox {
  margin-bottom: 14px;
  min-width: 400px;

  .subjectHeadingsTableCell {
    font-size: 12px;

    &.subjectHeadingLabel {
      min-width: 270px;
      width: 500px;
    }
  }
  h4 {
    font-size: 16px;
    padding-bottom: 8px;
  }
  .subjectHeadingLabelContainer {
    padding: 2px;
  }
  .subjectHeadingAttribute {
    padding-right: 1%;
  }

  th {
    min-width: 45px;
  }
}
