@import "utils/colors.scss";

.subjectHeadingLabel.mainLabel {
  font-style: italic;
}

.subjectHeadingToggle {
  position: absolute;
  left: -30px;
  min-width: 32px;
  text-align: center;

  @include removeDefaultButtonStyle;

  &:focus {
    outline-offset: -6px;
    background-color: inherit;
    box-shadow: none;
  }
}

.subjectHeadingRow {
  display: table-row;

  .subjectHeadingsTableCell {
    box-sizing: border-box;
    display: table-cell;
    height: 100%;

    .subjectHeadingLabelInner {
      height: 100%;
      position: relative;

      a:hover {
        color: #176e91;
        cursor: pointer;
      }
    }

  }
  .subjectHeadingAttribute {
    @include media($mobile-breakpoint) {
      vertical-align: top;
    }
  }
}

.subjectHeadingRow {
  border-bottom: $table-row-border;
  line-height: 32px;
  background-color: $subjectHeadingBackground;

  &.ellipse {
    border-bottom: none;
  }

  .selected .emph {
    font-weight: 700;
  }

  &.openSubjectHeading {
    border-bottom: 0;
  }
}

.index .nestedSubjectHeading .emph {
  font-weight: $emphasis-font-weight;

  .noEmph {
    font-weight: normal;
  }
}


.emph {
  color: black;

  &:hover {
    color: inherit;
  }
}

a:focus {
  background-color: inherit;
}

@include media($mobile-breakpoint) {
  .subjectHeadingsTable {
    th {
      min-width: 30px;
    }
  }

  .subjectHeadingsTableCell.subjectHeadingLabel {
    min-width: unset;
    width: auto;
  }

  .subjectHeadingsTable:not(.related) .subjectHeadingsTableCell.subjectHeadingLabel{
    padding-left: 22px;
  }

  .seeMore .subjectHeadingsTableCell {
    padding-left: 12px;
  }

  .subjectHeadingToggle {
    left: -32px;
  }
}
