.subjectHeadingsTable {
  display: table;
  font-size: 15px;
  width: 100%;
  background-color: $subject-heading-table-header;

  a {
    display: flex;
    text-decoration: none;
  }

  .subjectHeadingAttribute {
    text-align: right;
    max-width: fit-content;
  }

  .subjectSortButton {
    @include removeDefaultButtonStyle;
  }

  &.index {
    min-width: 60px;
  }

  .titles {
    padding-right: 10px;
  }
}
