.subjectHeadingsSideBar {
  display: flex;
  flex-direction: column;
}
.subjectHeadingInfoBox {
  border-color: #000000;
  border-style: solid;
  border-top-width: 3px;
  justify-self: end;
  width: 100%;

  .backgroundContainer {
    padding-left: 5px;
    background-color: $subject-heading-table-header;
  }

  .toIndex {
    font-size: 14px;
    min-height: 32px;
    padding-left: 10px;
    text-decoration: none;
  }

  .toIndex:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.related {
  height: fit-content;

  .emph {
    color: inherit;
  }

  .subjectHeadingToggle {
    display: none !important;
  }

  .subjectHeadingLabelInner {
    margin-left: 1%;
  }
}

.subjectHeadingInfoBox {
  margin-bottom: 14px;
  min-width: 400px;
  padding: 0;

  .subjectHeadingsTableCell {
    font-size: 12px;

    &.subjectHeadingLabel {
      min-width: 270px;
      width: 500px;

      &.selected {
        width: 700px;
      }
    }
  }

  h4 {
    font-size: 16px;
  }

  .subjectHeadingLabelContainer {
    padding: 2px;
  }

  .subjectHeadingAttribute {
    padding-right: 1%;
  }

  th {
    font-size: 12px;
    min-width: 45px;
  }
}

@include media($mobile-breakpoint) {
  .subjectHeadingsSideBar {
    float: left;
  }

  .subjectHeadingInfoBox {
    min-width: auto;
  }
}
